
<div class="list-group list">
  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>

  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>

  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>

  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>

  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>

  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>

  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>

  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>

<a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
    <button class="btn btn-default btn-sm">Click</button>
  </a>
  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>
  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>
  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>
  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>
  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>
  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>
  <a  class="list-group-item list-box">
    <img class="img-responsive img-thumbnail user-pic" src="http://placehold.it/50x50">
  </a>

</div>
